.Logout{
    border-radius: 1rem;
    border: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;
    font-size: .7em;
    font-weight: 700;
    width:7vw;
    padding: 1em 1em;
    background-color:rgba(27, 107, 51, 0.637) ;
    color:white;
    margin: 2em;

}
