.container{
    margin-left: 100px;  
    margin-right: 100px;
    margin-top: 50px;
}

.card{


    display: grid;
    grid-template-columns: 50px  50px 200px 110px 300px 75px 75px 110px 110px ;
    grid-auto-rows: auto;  
   

    border-bottom: 0.5px solid rgba(129, 129, 129, 0.514) ;

    font-family: 'Cantarell', sans-serif;
   
    
    
}
.element{
    margin: 10px 10px 10px 30px;
}
.tabletop{
    display: flex;
    justify-content: space-around;
}
.DelBtn{
    background-color: rgba(230, 64, 64, 0);
    font-family: 'Cantarell', sans-serif;
    border-color: rgba(240, 248, 255, 0);
}
.DelBtn:hover{
    color: rgba(206, 37, 37, 0.815);    
    font-family: 'Cantarell', sans-serif;
    transform: scale(1.2);
}
.DelBtn:focus{
    outline: none;
 }
.ModBtn{
    background-color: rgba(230, 64, 64, 0);
    font-family: 'Cantarell', sans-serif;
    border-color: rgba(240, 248, 255, 0);
    font-size: 20px;
}
.ModBtn:hover{
    color: rgba(104, 245, 39, 0.747);    
    font-family: 'Cantarell', sans-serif;
    transform: scale(1.2);
}
.ModBtn:focus{
    outline: none;
 }
.stockBtn{
    background-color: rgba(230, 64, 64, 0);
    font-family: 'Cantarell', sans-serif;
    border-color: rgba(240, 248, 255, 0);
    font-size: 20px;
}
.stockBtn:hover{
    color: rgba(153, 228, 233, 0.747);    
    font-family: 'Cantarell', sans-serif;
    transform: scale(1.2);
}
.categoryAdder{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.secondaryBar{
    border: 0.5px solid rgba(129, 129, 129, 0.514) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Cantarell', sans-serif;
    margin:50px 400px 50px 400px;
    padding: 20px ;

} 
.addbtn{
    background-color: rgba(230, 64, 64, 0);   
    border-color: rgba(240, 248, 255, 0);
    font-size: 15px;
}
.addbtn:hover{
    color: rgba(43, 206, 37, 0.815);
    transform: scale(1.1);
}
.addbtn:focus{
   outline: none;
}
.img{
    height: 75px;
    width: 75px;
}
.cardinfo{
    display: grid;
    grid-template-columns: 150px 250px 1px ;
    margin: 0 225px 25px 338px;
    border-bottom: 0.5px solid rgba(129, 129, 129, 0.514);
    font-family: 'Cantarell', sans-serif;
}
.data{
    font-family: 'Cantarell', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    
}
.byEmailflex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.searchcard{
    margin: 20px;
    padding: 20px;
    border: 1px solid black ;
}
.searchtext{
    font-family: 'Vazirmatn', sans-serif;
}
.searchtitle{
    text-align: center;
    font-family: 'Cantarell', sans-serif;


}