.titleCardF{
    font-family: 'Cantarell', sans-serif;
    font-size:larger;
    text-align: center;
    margin-bottom: 13px;
}

.textShop{
    font-family: 'Cantarell', sans-serif;
    font-size: small;
    text-align: center;
    border-radius: 0%;
}