.main { 
   
    
}
.header1 {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(226, 226, 226);
    background-image: url('../images/BackgroundHeader.png');
    
    
}
.title {
    position: absolute;
    background-color: white;
    margin: 30px 615px;
    font-family: 'Source Sans Pro', sans-serif;
    

}
.contIcons {
    margin-top: 30px;
    display: flex;

}
.iconUser {
    background-color: #ffffff00;
    border-width: 0px;
    font-size: 20px;
}
.iconCart {
    background-color: #ffffff00;
    border-width: 0px;
    font-size: 20px;
}
.navBar {
    padding: 5px 120px;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(226, 226, 226);


}
.subT {
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    border-width: 0px;
    font-size: 20px;

}
.photo{
    
    height: 103px;
    width: 1360px;
    
}
.btn{
    border-radius: 0rem;
    border: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding: 10px 10px;
    background-color:black ;
    color:white;
    margin: 20px;

}