.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 10px;
    width: 950px;
}

.prodImg img {
    width: auto;
}

.prodInfo {
    font-family: 'Cantarell', sans-serif;
    padding: 50px;
    width: 100%;

}

.cartBtn {
    border: 1px solid #00000093;
    border-radius: 80px;
    width: 100px;
    height: 67px;
    background-color: #a3e9c08f;
    margin-right: 50px;
}

.photo {
    /* margin-right: 50px; */
    width: 45px;
    height: 45px;
}