.buttonRating {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
 
  .spancolorStar{
    color: #002a0b;
  }

  .spancolorStar:hover{
    color: #ffe748;
  }
