.contForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.infoReview{
    text-align:center
}

.titleReview{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 40px;
}

.textReview{
    margin-top: 20px;
    text-align: center;
    font-family: 'Vazirmatn', sans-serif;
    font-size: medium;
}

.buttonReviewF{
    border-radius: 5px;
    border:none;
    box-shadow: 0 0 10px #36463526;
    cursor: pointer;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
    background-color:#213b27 ;
    color:white;
    margin: 20px;

}

