.reviewTitle{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 30px;    
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}


.reviewmanzana2{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    background-color: #c9e1cbbd;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.15);
    margin: .6em;
    margin-right: auto;
    margin-left:  auto;
    max-width: 60em;
    padding: 1.2em 2.5em;
    height: auto;
    width: 100%;
}

.buttonReview{
    border-radius: 2rem;
    border:none;
    box-shadow: 0 0 10px #36463526;
    cursor: pointer;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding: 10px 10px;
    background-color:#213b27 ;
    color:white;
    margin: 20px;
}

.textReview{
    margin-top: 20px;
    text-align: center;
    font-family: 'Vazirmatn', sans-serif;
}

.userMail{
    font-family: 'Vazirmatn', sans-serif;
    font-size: small;
    margin-bottom: -2px;
    color: rgb(89, 88, 88);
}